<header>
    <nav class="nav">
      <ul class="nav__item">
        <li class="nav__item__logo">
          <img src="..\assets\logo\Arrow(1).svg" alt="">
        </li>
        <ul class="nav__item__lang">
          <li (click)="translate.use('en')" class="nav__item__lang-en">
            <img src="../assets\lang\EN.svg" alt="eng-flag">
          </li>
          <li (click)="translate.use('ru')" class="nav__item__lang-ru">
            <img src="../assets\lang\RU.svg" alt="ru-flag">
          </li>
        </ul>
      </ul>
    </nav>
  </header>
