<main>
    <form [formGroup]="formGroup" (ngSubmit)="signUp()" class="form">
      <h1 class="form__title">{{'login-page.title' | translate}}</h1>
      <div *ngIf="err" class="err">Wrong login or password</div>
      <div class="form__inputs">
          <input  formControlName="login" id="form__inputs__login" type="text" placeholder="{{'login-page.login' | translate}}" name="login" required>
          <input  formControlName="password" id="form__inputs__password" type="password" placeholder="{{'login-page.password' | translate}}" name="password" required>
          <img class="form__inputs__not-robot" src="..\assets\not-root-img\VQkCH 1.png" alt="not-robot-image">
      </div>
      <button class="form__button" type="submit">{{'login-page.button' | translate}}</button>
      <div class="form__reset-pasw">
        <a href="">{{'login-page.forget-pass' | translate}}</a>
      </div>
    </form>
  </main>
